# Environment variables
.env

# Dependency directories
node_modules/

# Compiled/bundled output
/dist/assets/*.bundle.js

# Shopify configuration
/dist/config.yml

# MacOS folder structure file
.DS_Store

# Optional npm cache directory
.npm

# Debug logging
npm-debug.log
yarn-error.log

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# IDE
.idea
